@font-face {
  font-family: "BR Firma";
  src: url("../br-firma/BR Firma Light.otf") format("opentype");
  font-weight: 400;
}

.navbar-home {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 91vw;
  height: 62.05px;
  position: sticky;
  margin-top: 42px;

  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  gap: 300px;
 
  box-shadow: 0px 4px 4px 0px #00000040;
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  background-color: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.875rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;

  width: 41%;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 18px;

  font-family: "BR Firma", sans-serif;
  font-weight: 400;
  line-height: 22.21px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.nav-links a:hover {
  background: linear-gradient(to right, #A3280C, #657F95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact-btn {
  width: 101px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 9999px;

  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right, #8FB1BE, #00022B, #D53302);
  background-clip: border-box;
  color: white;
}

.contact-btn:hover {
  background: #00022B;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
  }
}
