.values {
  padding: 5rem 0;
  position: relative;
  text-align: left;
  top: 360px;
  height: 107vh;
}

.values-content {
  width: 1225px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.values-title {
  font-size: 96px;
  font-weight: 600;
  font-family: "BR Firma", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;

  text-align: left;

  background: linear-gradient(to right, #8FB1BE, #00022B, #D53302);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6rem;
}

.values-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.8rem;
  margin-bottom: 3rem;
  height: 65%;

}

.value-card {

  padding: 1.5rem;
  text-align: center;
  height: 100%;
}

.value-card.creativity {
  position: relative;
  background: white; /* card bg */
  border-radius: 20px;
  z-index: 1;
}

.value-card.creativity::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px; /* border thickness */
  border-radius: 16px; /* same as card */
  background: linear-gradient(to right, #A3280C, #657F95);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.value-card.empathy {
  position: relative;
  background: white; /* card bg */
  border-radius: 20px;
  z-index: 1;
}

.value-card.empathy::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px; /* border thickness */
  border-radius: 16px; /* same as card */
  background: linear-gradient(to right, #FCC560, #A0CBAD);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.value-card.curiosity {
  position: relative;
  background: white; /* card bg */
  border-radius: 20px;
  z-index: 1;
}

.value-card.curiosity::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px; /* border thickness */
  border-radius: 16px; /* same as card */
  background: linear-gradient(to right, #A3280C, #657F95);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.value-card.inclusivity {
  position: relative;
  background: white; /* card bg */
  border-radius: 20px;
  z-index: 1;
}

.value-card.inclusivity::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px; /* border thickness */
  border-radius: 16px; /* same as card */
  background: linear-gradient(to right, #FCC560, #A0CBAD);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.value-title {
  padding-top: 0.6rem;
  font-weight: 600;
  font-size: 32px;
  font-family: "BR Firma", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;

  text-align: left;
}

.meet-team-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  align-self: center;
  background-color: #00022B;
  margin-bottom: 2rem;

  font-size: 24px;
  font-weight: 600;
  font-family: "BR Firma", sans-serif;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
}

@media (min-width: 768px) {
  .values-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .values-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
