@font-face {
  font-family: "BR Firma";
  src: url("../br-firma/BR Firma Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "BR Firma";
  src: url("../br-firma/BR Firma SemiBold.otf") format("opentype");
  font-weight: 600;
}


.vision {
  padding: 5rem 0;
  position: relative;
  text-align: right;


  top: 210px;
}

.vision-content {
  width: 747px;
  margin-left: auto;
}


.vision-title {
  font-size: 96px;
  font-weight: 600;
  font-family: "BR Firma", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;

  text-align: right;

  background: linear-gradient(to right, #8FB1BE, #00022B, #D53302);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 2rem;
}

.vision-text {
  font-family: "BR Firma", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

