@import "./hackathon/hero.css";
@import "./hackathon/content.css";

/* Content Sections */




.hm_tr {
    position: absolute;
    top: 38%;
    right: 0%;
    transform: translateY(-50%);
}

.hm_bl {
    position: absolute;
    top: 109%;
    left: 0%;
    transform: translateY(-50%);
}
