@import "./homepage/navbar.css";
@import "./homepage/hero.css";
@import "./homepage/values.css";
@import "./homepage/sponsors.css";
@import "./homepage/footer.css";
@import "./homepage/cta.css";

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Bold.otf') format('opentype');
    font-weight: 700;
    font-style: larger;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'BR Firma';
  src: url('./br-firma/BR Firma SemiBold.otf') format('opentype');
  font-weight: 600;
  font-size: large;
}
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    
  body {
    background-color: #FFFCF5;
  }
  
  
  /* Layout */
  .page-container {
    min-height: 100vh;
  }
  
  header,
  section,
  footer {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }

  .dot-grid-1 {
    position: absolute;
    top: 15.35%;
    right: 7%;
    transform: translate(50%, -50%);

    z-index: 1;
  }
  .dot-grid-1 img {
    width: 100%;
    height: 100%;

  }

  .dot-grid-2 {
    position: absolute;
    top: 92.1%;
    left: 6%;
    transform: translate(-50%, -50%);

    z-index: 1;
  }
  .dot-grid-2 img {
    width: 100%;
    height: 100%;

  }
  .red-radial-circle {
    position: absolute;
    top: 1%;
    left: 99%;
    transform: translate(-50%, -50%);
    width: 432px;
    height: 432px;
    background: radial-gradient(circle, rgba(163, 40, 12, 1) 0%, rgba(163, 40, 12, 0.2) 70%, transparent 100%);
    border-radius: 50%;
    filter: blur( 15px);
  }
  
  .blue-radial-circle {
    position: absolute;
    top: 26%;
    left: 1%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 432px;
    height: 432px;
    background: radial-gradient(circle, rgba(101, 127, 157, 1) 0%, rgba(101, 127, 157, 0.2) 70%, transparent 100%);  
    filter: blur( 15px);
  }


  
  .button-outline {
    display: inline-block;
    border: 2px solid #000;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s, color 0.3s;

    border-radius: 50px;
    border-width: 2px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    
    font-family: "BR Firma", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  
  .button-outline:hover {
    background-color: #000;
    color: #fff;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
    }
  
    .hero-title {
      font-size: 3.75rem;
    }
  
    .values-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .shapes-container {
      width: 50%;
    }
  }
  