@import "./homepage/hero.css";
@import "./homepage/vision.css";
@import "./homepage/values.css";
@import "./homepage/events.css";
@import "./homepage/globals.css";

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Bold.otf') format('opentype');
    font-weight: 700;
    font-style: larger;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'BR Firma';
  src: url('./br-firma/BR Firma SemiBold.otf') format('opentype');
  font-weight: 600;
  font-size: large;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: block;
}

  .button-outline {
    display: inline-block;
    border: 2px solid #000;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s, color 0.3s;

    border-radius: 50px;
    border-width: 2px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    
    font-family: "BR Firma", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  
  .button-outline:hover {
    background-color: #000;
    color: #fff;
  }

  .hm_tr {
    position: absolute;
    top: 38%;
    right: 0%;
    transform: translateY(-50%);
  }

  .hm_bl {
    position: absolute;
    top: 109%;
    left: 0%;
    transform: translateY(-50%);
  }
  @media (max-width: 1440px) {

  }
  
  @media (max-width: 1024px) {
    .hm_tr {
      position: absolute;
      top: 38%;
      right: 0%;
      transform: translateY(-50%);
      width: 30%;
    }
  
    .hm_bl {
      position: absolute;
      top: 109%;
      left: 0%;
      transform: translateY(-50%);
      width: 30%;
    }
  }



  @media (max-width: 768px) {
    .nav-links {
      display: flex;
    }
  
    .values-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .shapes-container {
      width: 50%;
    }
  }
  

  @media (max-width: 480px) {
  }
  @media (max-width: 375px) {
  }
  @media (max-width: 320px) {
  }