@import "tailwindcss";

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Bold.otf') format('opentype');
    font-weight: 700;
    font-style: larger;
}

@font-face {
    font-family: 'BR Firma';
    src: url('./br-firma/BR Firma Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'BR Firma';
  src: url('./br-firma/BR Firma SemiBold.otf') format('opentype');
  font-weight: 600;
  font-size: large;
}


h1 {
  font-family: "BR Firma", sans-serif;
  font-size: 64px;
  font-weight: 600;
  text-align: center; 
 

  margin-bottom: 2rem;
  line-height: 100%;

  background: linear-gradient(to right, #8FB1BE, #00022B, #D53302);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 175.95px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;


}

h2 {
  font-family: "BR Firma", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}

.red-text {
  font-family: "BR Firma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;

  color: #D53302;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}




