
  /* Content Sections */
  .content-section-hk {
    padding: 4rem 0;
  }
  
  .section-title-hk {
    color: #000000;
    margin-top: 9rem;
    margin-bottom: 1.5rem;

    font-family: "BR Firma", sans-serif;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
  }
  
  .section-content-hk {
    max-width: 64rem;
  }
  
  .section-text-hk {
    font-family: "BR Firma", sans-serif;
    color: #00022B;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: left;
  }

  
  .sponsor-btn-hk {
    background: #00022B;
    color: #FFFCF5;
    padding: 1rem 2rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    margin-top: 3rem;
    margin-bottom: 15rem;

    font-family: "BR Firma", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .sponsor-btn-hk:hover {
    background: #00022B linear-gradient(to right, #A3280C, #657F95);
  }
